@use 'src/assets/styles/breakpoints';

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px 16px;

  @media screen and (min-width: breakpoints.$media_l) {
    padding: 64px;
    gap: 96px;
  }
}

h2 {
  font-size: 22px !important;
  font-weight: bold !important;
  z-index: 999;

  @media screen and (min-width: breakpoints.$media_l) {
    text-align: center !important;
    font-size: 32px !important;
  }
}

.button {
  z-index: 999 !important;
  background-color: #AA9067 !important;
  width: 340px !important;
  height: 50px !important;
  color: #fff !important;
  font-size: 15px !important;
  border-radius: 16px !important;
  align-self: center !important;
}

.background {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #F4F4F4;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  z-index: 999;

  @media screen and (min-width: breakpoints.$media_l) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
    max-width: 1300px;
    align-self: center;
  }
}

.partnerItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-self: center;

  h3 {
    font-size: 22px !important;
    font-weight: bold !important;
  }

  h4 {
    text-align: center !important;
    font-size: 18px !important;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: breakpoints.$media_l) {
    h3, h4 {
      text-align: left !important;
      width: 100% !important;
    }

    img {
      border-radius: 16px;
    }
  }
}

.summaryButton {
  border-radius: 42px !important;
  border: 1px solid #000 !important;
  text-transform: uppercase !important;
  color: #000 !important;
  width: 340px !important;
  height: 50px !important;
  z-index: 999 !important;
  align-self: center !important;
  background-color: #fff !important;
}
